.grid{
    border-collapse: collapse;
    font-family: sans-serif;
    font-weight: bold;
    text-align: center;
    table-layout: fixed;
    user-select: none;
}

.grid td{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    text-transform: uppercase;
    position: relative;
    box-sizing: border-box;
    font-size: 125%;
}

.grid .clue{
    background-color: lightgrey;
    text-transform: capitalize;
    font-size: 60%;
    word-wrap: break-word;
}

.letter{
    text-transform: uppercase;
}

.arrow{
    position: absolute;
    z-index: 1;
    height: inherit;
    pointer-events: none;
}

.selected-word{
    background-color: #37fdfc;
}

.selected-cell{
    background-color: #00cdcd;
}

.checked-true{
    background-color: #6cfb6c;
}

.checked-true.selected-word{
    background-color: #0ff40f;
}

.checked-true.selected-cell{
    background-color: #228b22;
}

.checked-false{
    background-color: #fb6262;
}

.checked-false.selected-word{
    background-color: #f91111;
}

.checked-false.selected-cell{
    background-color: #c51515;
}

.locked-cell{
    background-image: url(Images/lock-small.svg);
    background-size: contain;
}

/*.locked-cell{
    background: repeating-linear-gradient(
        45deg,
        white,
        white 10px,
        #ebf3f8 10px,
        #ebf3f8 20px
    );
    background-attachment: fixed;
}

.locked-cell.selected-word{
    background: repeating-linear-gradient(
        45deg,
        #37fdfc,
        #37fdfc 10px,
        #ebf3f8 10px,
        #ebf3f8 20px
    );
    background-attachment: fixed;
}

.locked-cell.selected-cell{
    background: repeating-linear-gradient(
        45deg,
        #00cdcd,
        #00cdcd 10px,
        #ebf3f8 10px,
        #ebf3f8 20px
    );
    background-attachment: fixed;
}

.locked-cell.checked-true{
    background: repeating-linear-gradient(
        45deg,
        #6cfb6c,
        #6cfb6c 10px,
        #ebf3f8 10px,
        #ebf3f8 20px
    );
    background-attachment: fixed;
}

.locked-cell.checked-true.selected-word{
    background: repeating-linear-gradient(
        45deg,
        #0ff40f,
        #0ff40f 10px,
        #ebf3f8 10px,
        #ebf3f8 20px
    );
    background-attachment: fixed;
}

.locked-cell.checked-true.selected-cell{
    background: repeating-linear-gradient(
        45deg,
        #228b22,
        #228b22 10px,
        #ebf3f8 10px,
        #ebf3f8 20px
    );
    background-attachment: fixed;
}

.locked-cell.checked-false{
    background: repeating-linear-gradient(
        45deg,
        #fb6262,
        #fb6262 10px,
        #ebf3f8 10px,
        #ebf3f8 20px
    );
    background-attachment: fixed;
}

.locked-cell.checked-false.selected-word{
    background: repeating-linear-gradient(
        45deg,
        #f91111,
        #f91111 10px,
        #ebf3f8 10px,
        #ebf3f8 20px
    );
    background-attachment: fixed;
}

.locked-cell.checked-false.selected-cell{
    background: repeating-linear-gradient(
        45deg,
        #c51515,
        #c51515 10px,
        #ebf3f8 10px,
        #ebf3f8 20px
    );
    background-attachment: fixed;
}*/