body{
    margin-top: 0px;
    font-family: sans-serif;
}

#title{
    text-align: center;
    font-size: 150px;
    margin: -8px 0px;
}

#board-container{
    /*display: flex;
    justify-content: space-between;*/
    text-align: center;
}

#board-container > *{
    display: inline-block;
}

.grid{
    border-collapse: collapse;
    font-weight: bold;
    text-align: center;
    table-layout: fixed;
    user-select: none;
    margin: auto;
}

.grid td{
    border: 1px solid black;
    height: 50px;
    width: 50px;
    text-transform: uppercase;
    position: relative;
    box-sizing: border-box;
    font-size: 125%;
}

.grid .clue{
    background-color: lightgrey;
    text-transform: capitalize;
    font-size: 60%;
    word-wrap: break-word;
}

.letter{
    text-transform: uppercase;
}

.arrow{
    position: absolute;
    z-index: 1;
    height: inherit;
    pointer-events: none;
}

.selected-word{
    background-color: #37fdfc;
}

.selected-cell{
    background-color: #00cdcd;
}

.checked-true{
    background-color: #6cfb6c;
}

.checked-true.selected-word{
    background-color: #0ff40f;
}

.checked-true.selected-cell{
    background-color: #228b22;
}

.checked-false{
    background-color: #fb6262;
}

.checked-false.selected-word{
    background-color: #f91111;
}

.checked-false.selected-cell{
    background-color: #c51515;
}

.locked-cell{
    background-image: url(Images/lock-small.svg);
    background-size: contain;
}

#right-column, #left-column{
    width: 100px;
    vertical-align: top;
}

#right-column{
    margin-left: 10px;
}

#left-column{
    margin-right: 10px;
}

#timer{
    height: 50px;
    font-size: 40px;
}

#right-column button{
    width: 80px;
    height: 80px;
    background-color: #ff6725;
    border-radius: 25%;
    border: 3px solid #e55c21;
    background-size: contain;
    background-repeat: no-repeat;
    margin: 2px 0px;
}

#right-column button:focus{
    outline: none;
    background-color: #e55c21;
}

#right-column button:hover{
    background-color: #e55c21;
}

.checkbtn{
    background-image: url('Images/tick.svg');
}

.clearbtn{
    background-image: url('Images/dustbin.svg');
}

.showbtn{
    background-image: url('Images/eye.svg');
}

.lockbtn{
    background-image: url('Images/lock-open.svg');
}

.lockbtn.locked{
    background-image: url('Images/lock-closed.svg');
}

#minimap-container{
    width: 100px;
    height: 140px;
}

#minimap{
    width: 100px;
    height: 80px;
    border: 1px solid black;
}

#minimap-controls{
    width: 100px;
    height: 60px;
}

#clue-cell-container{
    height: 220px;
    width: 100px;
    display: block;
}

.hide{
    display: none !important;
}

#clue-cell{
    margin: 10px 0px;
    height: 100px;
    width: 100px;
    border: 1px solid black;
    font-weight: bold;
    background-color: lightgrey;
    text-transform: capitalize;
    font-size: 125%;
    word-wrap: break-word;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#clue-cell-buttons{
    height: 100px;
    width: 100px
}

#clue-cell-buttons button{
    height: 47px;
    width: 47px;
    display: inline-block;
    background-color: #ff6725;
    border: 1px solid black;
    background-size: contain;
    background-repeat: no-repeat;
}